body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right top, #ac8fa9, #bb959c, #bca097, #b7ac9d, #b3b6ab);
  height: 100vh;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  font-family: sans-serif;
  margin-bottom: 0px
}

.inputSection {
margin: 20px 0px 30px 0px;
width: 300px;
}

.inputs{
  width: inherit;
  display:flex;
  flex-direction: column;
}

input{
  margin-top: 10px;
}

.addOption{
  margin-top: 10px;
  font-family: sans-serif;
}

.choose{
  margin-top: 10px;
  font-family: sans-serif;
  font-weight: bold;
}
