body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right top, #ac8fa9, #bb959c, #bca097, #b7ac9d, #b3b6ab);
  height: 100vh;
}

h1 {
  font-size: 40px;
  font-weight: lighter;
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 0px;
}

.inputSection {
margin: 20px 0px 30px 0px;
width: 200px;
}

.inputs{
  width: inherit;
  display:flex;
  flex-direction: column;
}

input{
  margin-top: 10px;
}

.addOption{
  margin-top: 10px;
  font-family: 'PT Sans', sans-serif;
}

.submit{
  margin-top: 10px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

.resultSection{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-family: 'Charmonman', cursive;
  font-weight: lighter;
}
